mat-slider {
  width: 100%;
}

.mat-radio-button {
  background-color: #f2f2f2;
}

.mat-radio-button.mat-accent .mat-radio-outer-circle {
  border-color: #19f515;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #005737;
}
