<div class="w-full p-4">
        <div class="">
                <mat-form-field appearance="fill" class="w-full">
                        <mat-label class="">Sort</mat-label>
                        <mat-select (selectionChange)="onChangeSort($event)" [value]="selected">
                                <mat-option [value]="convertJSON(item)" *ngFor="let item of ProductService.sortType">{{
                                        item.lable
                                }}</mat-option>
                        </mat-select>
                </mat-form-field>
        </div>
        <div class="example-label-container flex justify-between">
                <label id="example-name-label" class="example-name-label">Khoảng giá :</label>
                <label class="example-value-label">{{ value | priceProduct }}</label>
        </div>
        <div class="">
                <mat-slider class="" [max]="max" [min]="min" [step]="step">
                        <input matSliderThumb [ngModel]="value" (ngModelChange)="onChangePrice($event)" />
                </mat-slider>
        </div>
        <div class="">
                <mat-form-field appearance="fill" floatLabel="always">
                        <mat-label>Từ : </mat-label>
                        <input matInput type="number" class="example-right-align" placeholder="0" />
                        <span matTextPrefix>đ&nbsp;</span>
                        <span matTextSuffix>.000</span>
                </mat-form-field>
        </div>
        <div class="">
                <mat-form-field appearance="fill" floatLabel="always">
                        <mat-label>Đến :</mat-label>
                        <input matInput type="number" class="example-right-align" placeholder="0" />
                        <span matTextPrefix>đ&nbsp;</span>
                        <span matTextSuffix>.000</span>
                </mat-form-field>
        </div>
</div>
