<div class="flex p-3 min-h-[900px]">
        <div class="w-1/5 h-full">
                <app-sidebar (changeSortEmit)="updateGetProduct($event)" [value]="priceSort"></app-sidebar>
        </div>

        <div class="min-h-[600px] w-4/5 relative" *ngIf="loadingPage$ | async; else loading">
                <div class="flex flex-wrap">
                        <div class="w-1/4 flex justify-center px-3 mb-3" *ngFor="let product of listProducts$ | async">
                                <app-card-product [product]="product" class="w-full"></app-card-product>
                        </div>
                </div>
        </div>
</div>
<mat-paginator
        #paginator
        class="demo-paginator"
        [length]="length$ | async"
        [pageSize]="pageSize"
        [disabled]="false"
        [hidePageSize]="true"
        [pageIndex]="pageIndex"
        aria-label="Select page"
        (page)="handlePageEvent($event)"
>
</mat-paginator>

<ng-template #loading>
        <div class="w-4/5 h-[600px] flex justify-center items-center">
                <mat-spinner></mat-spinner>
        </div>
</ng-template>
