<div class="bg-slate-200 font-semibold rounded-md overflow-hidden">
    <div class="px-7 py-5 flex justify-between" routerLink="/profile/infor" routerLinkActive="bg-slate-300">
        <span>Thông tin cá nhân</span>
        <span> > </span>
    </div>
    <div class="px-7 py-5 flex justify-between">
        <span>Thông tin cá nhân</span>
        <span> > </span>
    </div>
    <div class="px-7 py-5 flex justify-between">
        <span>Thông tin cá nhân</span>
        <span> > </span>
    </div>
    <div class="px-7 py-5 flex justify-between">
        <span>Thông tin cá nhân</span>
        <span> > </span>
    </div>
    <div class="px-7 py-5 flex justify-between">
        <span>Thông tin cá nhân</span>
        <span> > </span>
    </div>
</div>
