<div class="h-[600px] bg-blue-100 flex justify-center items-center">
        <div class="w-[30%] h-[300px]">
                <p class="text-center text-[30px]">LOGIN</p>
                <div class="mb-3"><input type="text" class="w-full h-[42px] px-3" [(ngModel)]="email" /></div>
                <div class="mb-3"><input type="text" class="w-full h-[42px] px-3" [(ngModel)]="password" /></div>
                <button class="px-4 py-3 bg-slate-400 rounded-md w-full" (click)="loginAcc()">Login</button>
        </div>
</div>
